$black: #000;
$green: #0c8d5d;
$white: #ffffff;

$grey: #acadac;
$grey-lighter: #e5e5e5;

$red: #ef4358;
$ketchup: #e03333;
$tomato: #ff543d;

$forest: #009b6d;
$sky-blue: #299ef3;
$water: #29aaf3;
$ice: #1b82e1;
$blue: #5f37ef;
$lilac: #9a7dff;
$violet: #7854f7;
$dark: #0a142f;
$checkbox: #303030;
$slider-shade: rgba(88, 77, 77, 0.7);
$logo: #636364;
